button {
    @include button-shared($primary-button-color);

    &:hover {
        box-shadow: 0 .2rem .2prem rgba($color-black,.4);
        transform: translateY(-2px);
        transition: all .2s;
    }

    &:focus {
        outline: none;
        transform: translateY(1px);
        box-shadow: 0 .2rem .2prem rgba($color-black,.4);
    }

    &:active {
        box-shadow: 0 0.4rem 0.4rem rgba($color-black,.4);
        transform: translateY(0px);
    }

    &:disabled {
        background-color: lighten($primary-font-color, 40%);
        box-shadow: none;
    }
}

.btn-cancel {
    @include button-shared($secondary-button-color);
}

.btn-close {
    color: $white-font-color;
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    top: .5rem;
    right: 1rem; 
}

.btn-info {
    background-color: transparent;
    border-bottom: .2rem solid $primary-button-color;
    border-radius: 0;
    box-shadow: none;
    color: $primary-font-color;
    padding: 1rem .5rem;

    &:hover {
        background-color: $primary-button-color;
        color: $white-font-color;
    }
}