.hero {
    @include hero-shared(95vh, 6rem);
    // height: 95vh;


    // &__logo-wrapper {
    //     width: 100%;
    //     display: block;

    //     &--small {
    //         width: 50%;
    //         height: 10rem;
    //         display: inline-block
    //     }
    // }

    &__logo-svg {

        &--large {
            width: 45%;
            position: absolute;
            top: 53%;
            left: 43%;
            transform: translate(-50%, -50%);
            z-index: 20;
        }

        &--small {
            width: 30%;
            position: absolute;
            top: 65%;
            left: 44%;
            transform: translate(-50%, -50%);
            z-index: 20;
        }
    }

    &__logo-svg-animated {

        &--large {
            width: 30%;
            position: absolute;
            top: 42%;
            left: 68%;
            transform: translate(-50%, -50%) rotate(-20deg);
            // need a media query for small screens to increase width and positinging
        }

        &--small {
            width: 20%;
            position: absolute;
            top: 43%;
            left: 61%;
            transform: translate(-50%, -50%) rotate(-20deg);
        }
    }

    &__animated-svg {
        stroke: $secondary-button-color;
        fill: $secondary-button-color;
        // change this amount in dev tools until all of the text is visible
        //smaller values emit some of the outline
        stroke-dasharray: 2500;
        opacity: 1;
        animation: logo-animation 2s cubic-bezier(0, .23, 1, .1);

        // need a media query for small screens to increase width and positinging
    }

}



.indicator {
    position: absolute;
    top: 92%;
    left: 50%; //47% on 360 px wide screen
    width: 2rem;
    height: 2rem;
    transform: rotate(45deg);

    span {
        position: absolute;
        box-sizing: border-box;
        border: none;
        display: block;
        border-right: 0.2rem solid #fff;
        border-bottom: 0.2rem solid #fff;
        width: 100%;
        height: 100%;
        animation: indicatorDown 1s linear infinite;

        &:nth-child(1) {
            top: -3rem;
            left: -3rem;
            animation-delay: 0s;
        }
        
        &:nth-child(2) {
            top: -2rem;
            left: -2rem;
            animation-delay: 0.2s;
        }
        
        &:nth-child(3) {
            top: -1rem;
            left: -1rem;
            animation-delay: 0.4s;
        }
    }
}