.nav {
    padding: 1.5rem;

    &__list {
        display: flex;
        align-items: center;
        list-style: none;
    }

    &__list-item {
        padding-right: 2rem;
        line-height: 2rem;
    }

    &__link,
    &__link:visited {
        color: #fff;
        text-decoration: none;
    }

    &__link:hover {
        color: lighten($tertiary-color, 15%);
    }

    &__link.active {
        color: $tertiary-color;
    }
    
}