
.plan {
    
    &--section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;
        margin-bottom: 3rem;
    }

    &--card {
        border: 0.2rem solid grey;
        border-radius: 0.6rem;
        box-shadow: 0 0.6rem 0.6rem rgba(0, 0, 0, 0.3);
        color: $white-font-color;
        padding: 1rem;

        &:nth-child(1) {
            background-color: $link-color;
            
        }

        &:nth-child(2) {
            background-color: $tertiary-color;
        }

        &:nth-child(3) {
            background-color: $primary-button-color;
            
        }

        &:nth-child(4) {
            background-color: $secondary-button-color;
            
        }
    }

}