body {
    color: $primary-font-color;
    font-family: 'Overpass', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

h3 {
    font-size: 1.9rem;
}

h4 {
    font-size: 1.8rem;
}
    
h5 {
    font-size: 1.7rem;
}