<div class='modal' id='cancelConfirmModal'>
    <div class="modal__content">
        <div class="modal__header modal__header-alert">
            <h3 class='modal__header--heading'>Stop!</h3>
        </div>
        <p class="modal__text">Are you sure you want to cancel your Magnolia Bliss subscription and any Life Coaching and/or Mobile Coach sessions (if applicable)?</p>
        <div class="modal__footer">
            <button class="modal__btn-confirm" id='cancelConfirmYes'>Yes, Continue</button>
            <button class="modal__btn-close" id='cancelConfirmNo'>No, Go Back</button>
        </div>
    </div>
</div>