<header class='hero-small'>
    {{> nav}}
    <div class="hero-text-box-small">
        <h1 class='hero-header'>
            <span class="hero-header--main">Magnolia Bliss</span>
            {{!-- <span class="hero-header--sub">Magazine</span>  --}}
        </h1>
    </div>
</header>