<div class='modal' id='logoutModal'>
    <div class="modal__content">
        <div class="modal__header">Success!</div>
        <p class="modal__text">You've been logged out successfully. May the bliss be with you!</p>
        <div class="modal__footer">
            <button class="modal__btn-close" id='closeLogout'>Close</button>
        </div>
    </div>
</div>