<nav>
    {{#if session.loggedIn}}
        <ul>
            <li><a href='/' class='nav-link' id='navHome'>Home</a></li>
            <li><a href='/about' class='nav-link' id='navAbout'>About</a></li>
            <li><a href='#' class='nav-link' id='lifeCoach'>Life Coaching</a></li>
            <li><a href='/magazine' class='nav-link' id='navMagazine'>View Magazine</a></li>
            <li><a href='/account' class='nav-link' id='navAdmin'>User Admin</a></li>
            <li><button id='navLogoutBtn'>Logout</button></li> 
        </ul>
    {{else}}
        <ul>
            <li><a href='/' class='nav-link' id='navHome'>Home</a></li>
            <li><a href='/about' class='nav-link' id='navAbout'>About</a></li>
            <li><a href='/subscribe' class='nav-link' id='navSubscribe'>Subscribe</a></li> 
        </ul>
    {{/if}}
</nav>