<div class='modal' id='pendingSubCancelModal'>
    <div class="modal__content">
        <div class="modal__header">
            <h3 class='modal__header--heading'>Notice!</h3>
        </div>
        <p class="modal__text">Your subscription is over at the end of your current paid period. If you change your mind, you can reactivate it by going to Manage and hitting the Reactivate button.</p>
        <div class="modal__footer">
            <button class="modal__btn-close" id='closePendingSub'>Close</button>
        </div>
    </div>
</div>