<div class='modal' id='pendingSubCancelModal'>
    <div class="modal__content">
        <div class="modal__header">Success!</div>
        <p class="modal__text">Notice: Your subscription over at the end of your current paid period. If you change your mind, you can reactivate it by going to Manage</p>
        <div class="modal__footer">
            <button class="modal__btn-close" id='closePendingSub'>Close</button>
        </div>
    </div>
</div>