<section class='lg-section-center section-plans'>
    <div class='card'>
        <div class="card__front card__front--1">
            <h2 class='card__header header-centered'>Daffodil</h2>
            <div class='card__details--front'>
                <ul>
                    <li>Monthly access to the magazine</li>
                </ul>
            </div>
            <div class='card__price-section'>
                <p>Only $5.99 per month!</p>
            </div>
            <button class='card__button btn-info' id='showDaffodilDetails'>Details &rarr;</button>
        </div>
        <div class="card__back" id='detailsDaffodil'>
            <div class="card__header--back">
                <a class='btn-close' id='hideDaffodilDetails'><i class='far fa-window-close'></i></a>
                <h5 class='header-centered'>Plan Details</h5>
            </div>
            <div class='card__details--back'>
                <p>Your subscriptions start from the date of payment and run though the end of the paid period.</p>
                <p>You can change your subscription plan at any time, and prorated charges/credits will be seen on your next payment due date.</p>
            </div>
        </div>
    </div>

    <div class='card'>
        <div class="card__front card__front--2">
            <h4 class='card__header header-centered'>Azalea</h4>
            <div class='card__details--front'>
                <ul>
                    <li>6 month access to the magazine</li>
                    <li>Savings of $1 over monthly subscription</li>
                </ul>
            </div>
            <div class='card__price-section'>
                <p>Only $34.99 every 6 months!</p>
            </div>
            <button class='card__button btn-info' id='showAzaleaDetails'>Details &rarr;</button>
         </div>
         <div class="card__back" id='detailsAzalea'>
            <div class="card__header--back">
                <h5 class='header-centered'>Plan Details</h5>
                <a class='btn-close' id='hideAzaleaDetails'><i class='far fa-window-close'></i></a>
            </div>
            <div class='card__details--back'>
                <p>Your subscriptions start from the date of payment and run though the end of the paid period.</p>
                <p>You can change your subscription plan at any time, and prorated charges/credits will be seen on your next payment due date.</p>
            </div>
        </div>
    </div>

    <div class='card'>
        <div class="card__front card__front--3">
            <h4 class='card__header header-centered'>Dogwood</h4>
            <div class='card__details--front'>
                <ul>
                    <li>1 year access to the magazine</li>
                    <li>Free Get Out and Get Happy eBook</li>
                    <li>Savings of $7/year</li>
                </ul>
            </div>
            <div class='card__price-section'>
                <p>Only $64.99 per year!</p>
            </div>
            <button class='card__button btn-info' id='showDogwoodDetails'>Details &rarr;</button>
        </div>
        <div class="card__back" id='detailsDogwood'>
            <div class="card__header--back">
                <h5 class='header-centered'>Plan Details</h5>
                <a class='btn-close' id='hideDogwoodDetails'><i class='far fa-window-close'></i></a>
            </div>
            <div class='card__details--back'>
                <p>Your subscriptions start from the date of payment and run though the end of the paid period.</p>
                <p>You can change your subscription plan at any time, and prorated charges/credits will be seen on your next payment due date.</p>
                <p>You will receive an email invitation to redeem your free copy of Get Out and Get Happy by Karri McClure upon payment receipt.</p>
            </div>
        </div>
    </div>

    <div class='card'>
        <div class="card__front card__front--4">
            <h4 class='card__header header-centered'>Magnolia</h4>
            <div class='card__details--front'>
                <ul>
                    <li>Access to the magazine</li>
                    <li>Access to Ask a Coach</li>
                    <li>Free Get Out and Get Happy eBook</li>
                    <li>First coaching session free</li>
                    <li>15% off coaching sessions</li>
                </ul>
            </div>
            <div class='card__price-section'>
                <p>Only $29.99 per Month!</p>
            </div>
            {{!-- goes to terms and conditions or how to redeem free ebook and or how to get coaching sessions --}}
            <button class='card__button btn-info' id='showMagnoliaDetails'>Details &rarr;</button>
         </div>
         <div class="card__back" id='detailsMagnolia'>
            <div class="card__header--back">
                <h5 class='header-centered'>Plan Details</h5>
                <a class='btn-close' id='hideMagnoliaDetails'><i class='far fa-window-close'></i></a>
            </div>
            <div class='card__details--back'>
                <p>Your subscriptions start from the date of payment and run though the end of the paid period.</p>
                <p>You can change your subscription plan at any time, and prorated charges/credits will be seen on your next payment due date.</p>
                <p>You will receive an email invitation to redeem your free copy of Get Out and Get Happy by Karri McClure upon payment receipt.</p>
                <p>You will also be sent a link to redeem and schedule your life coaching sessions, directly with a life coach.</p>
                <p>Ask a Coach sessions are provided via email, and instructions will be sent via email upon payment receipt</p>
            </div>
        </div>
    </div>
</section>