<div class='modal' id='pwdResetSuccessModal'>
    <div class="modal__content">
        <div class="modal__header">
            <h3 class='modal__header--heading'>Success!</h3>
        </div>
        <p class="modal__text">Your password has been updated, please login to continue.</p>
        <div class="modal__footer">
            <button class="modal__btn-close" id='closePwdSuccess'>OK</button>
        </div>
    </div>
</div>