<div class='modal' id='subSuccessModal'>
    <div class="modal__content">
        <div class="modal__header">
            <h3 class='modal__header--heading'>Success!</h3>
        </div>
        <p class="modal__text">Thank you for subscribing to Magnolia Bliss Magazine. Happy Reading!</p>
        <div class="modal__footer">
            <button class="modal__btn-close" id='closeSuccess'>Close</button>
        </div>
    </div>
</div>