<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>Magnolia Bliss Magazine</title>
    <link rel='shortcut icon' type='image/png' href='/images/magnolia_icon2.jpeg'>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel='stylesheet' type='text/css' href='assets/css/flipbook.style.css'>
    <link rel='stylesheet' type='text/css' href='assets/css/font-awesome.css'>
    <link rel='stylesheet' href='assets/css/style.css'>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
    {{!-- <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.js'></script> --}}
   
   {{!-- for stripe tokenization --}}
   <script src='https://js.stripe.com/v3/'></script>

    {{!-- <script src='assets/js/flipbook.min.js'></script> --}}
    <script src='assets/js/flipbook/flipbook.js'></script>
    <script src='assets/js/main.js'></script> 
    <script src='assets/js/account.js'></script>
    <script src='assets/js/subscription.js'></script>
    <script src='assets/js/password.js'></script>


</head>
<body>
     
    {{{ body }}} 
    {{!-- modals used on every page --}}
    {{> logoutModal}}
    {{> pendingSubCancel}}
    {{> pwdResetModal}}
 
    
</body>
</html>