{{> heroSmall}}
<main class='container'>
    <section class='lg-section-center'>
        <h1>About the Magazine</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quis in, rerum consequuntur nesciunt
            laboriosam. Commodi ad cumque praesentium molestiae perspiciatis, cum perferendis dolore modi asperiores,
            inventore minima, amet delectus. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil quis vitae
            iure optio accusamus autem corrupti, sit quidem enim sequi ad, neque molestias! Commodi at, earum quidem
            consectetur maxime debitis!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quis in, rerum consequuntur nesciunt
            laboriosam. Commodi ad cumque praesentium molestiae perspiciatis, cum perferendis dolore modi asperiores,
            inventore minima, amet delectus. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil quis vitae
            iure optio accusamus autem corrupti, sit quidem enim sequi ad, neque molestias! Commodi at, earum quidem
            consectetur maxime debitis!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quis in, rerum consequuntur nesciunt
            laboriosam. Commodi ad cumque praesentium molestiae perspiciatis, cum perferendis dolore modi asperiores,
            inventore minima, amet delectus. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil quis vitae
            iure optio accusamus autem corrupti, sit quidem enim sequi ad, neque molestias! Commodi at, earum quidem
            consectetur maxime debitis!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam quis in, rerum consequuntur nesciunt
            laboriosam. Commodi ad cumque praesentium molestiae perspiciatis, cum perferendis dolore modi asperiores,
            inventore minima, amet delectus. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil quis vitae
            iure optio accusamus autem corrupti, sit quidem enim sequi ad, neque molestias! Commodi at, earum quidem
            consectetur maxime debitis!</p>
    </section>
    <section class='lg-section-center'>
        <h3>Contact</h3>
        <p>Email: magnoliablissmagazine@gmail.com</p>
        <p>To report issues with the site click <a href='#'>here</a>.</p>
    </section>
</main>
{{> footer}}