
{{> heroSmall}}

<main class='container'>
    {{!-- <h1>Manage Your Account</h1> --}}
    {{#if session.loggedIn}}
        <aside id='chooseAcctUpdate'class='sm-section-left'>
            <h3>Account Actions</h3>
            <form id='chooseAction'>
                <select id='accountAction'>
                {{#if session.subscriptionData.pendingCancel}}
                    <option value='' selected>Choose One...</option>
                    <option value='accountInfo'>Update Account Information</option>
                {{else}}
                    <option value='' selected>Choose One...</option>
                    <option value='accountInfo'>Update Account Information</option>
                    <option value='paymentInfo'>Update Payment Information</option>
                    <option value='plan'>Change Subscription</option>
                    <option value='cancel'>Cancel Subscription</option>
                {{/if}}
                </select>
            </form>
        </aside>
        {{!-- do a get to get this information from stripe --}}
        <section id='subOverview' class='sm-section-right'>
            <h3>Account Overview</h3>
            <p>Reader: <span id='userName'></span></p>
            <p>Email (Login): <span id='userEmail'></span></p>
            <p>Current Plan: <span id='planName'></span></p>
            {{#if session.subscriptionData.pendingCancel}}
                <p>Your subscription ends on: <span id='dueDate'></span> <button id='submitReactivate'>Reactivate</button></p>
                <p>Your estimated final charge will be: $ <span id='nextInvoiceAmt'></span></p>
            {{else}}
                <p>Your Next payment is on <span id='dueDate'></span> for $<span id='nextInvoiceAmt'></span> (estimated)</p>
            {{/if}}
            
        </section>
        
        <section id='updateAccount' class='sm-section-right'>
            <h3>Update Account Details</h3>
            <form id='updateAccountInfo'>
                <div class="row-form">
                    <label for="firstName" >
                        First Name:
                        <input type='text' name='firstName' id='firstName'>
                    </label>
                    <label for="lastName">
                        Last Name:
                        <input type='text' name='lastName' id='lastName'>
                    </label>
                </div>
                <div class="row-form">
                    <label for="email">
                        Email (Login):
                        <input type='email' name='email' id='email'>
                    </label>
                </div>
                <div class="row-buttons">
                    {{!-- on click of this button will send the customer details to the auth route and controller --}}
                    <button id='submitUpdate'>Continue</button>
                    {{!-- this cancel would reset form only, nothing sent to DB yet --}}
                    <button class='btn-cancel' id='cancelUpdate'>Cancel</button>
                </div>
            </form>
        </section>

         <section id='updatePayment' class='sm-section-right'>
            <h3>Update Payment Information</h3>
            <form id='update-payment-form'>
                <div class="row-form">
                    <label for="update-card-element">
                        Enter your new card information (Note: all fields are required):
                    </label>
                    <div id="update-card-element">
                        <!-- A Stripe Element will be inserted here. -->
                    </div>

                    <!-- Used to display form errors. -->
                    <div id="card-errors" role="alert"></div>
                </div>
                <div class="row-buttons">
                    <button id='submitUpdatePayment'>Update</button>
                    <button class='btn-cancel'>Cancel</button>
                </div>
            </form>
        </section>

        <section id='changeSub' class='sm-section-right'>
            <h3>Change your Subscription</h3>
            <p>Note: when you change your plan, you will be charged/credited the prorated difference on your next payment date (plus the cost of the month's new plan)</p>
            <form id='updateSub'>
                <label for='selectNewPlan' class='row-form'>
                    Select Your Plan:
                    <select name='selectNewPlan' id='selectNewPlan' required='true'>
                        <option value='' selected>Choose One...</option>
                        <option id='plan_EpHZkxOiWmpiQR' value='plan_EpHZkxOiWmpiQR'>Weekly - $10.00</option> 
                        <option id='plan_EjZolXa1xLHMFw' value='plan_EjZolXa1xLHMFw'>Basic - $29.99</option> 
                        <option id='plan_EjZrSsfFWBdXpv' value='plan_EjZrSsfFWBdXpv'>Mid Tier - $39.99</option>
                        <option id='plan_EjZrkUO9p4p2uG' value='plan_EjZrkUO9p4p2uG'>Premium - $49.99</option>
                    </select>
                </label>
                <div class='row-buttons'>
                    <button id='submitPlanChange'>Change Plan</button>
                    <button class='btn-cancel'>Cancel</button>
                </div>
            </form>
        </section>

        {{!-- if choose cancel plan, show verbiage stating will be active until end of current paid period --}}
        <section id='cancellation' class='sm-section-right'>
            <h3>Cancel Your Subscription</h3>
            <p>By clicking and confirming your subscription cancellation you acknowledge that your subscription will remain active
                until the end of your current payment period. At that time your access to the magazine will end and you will
                lose any unused coaching sessions.</p>
            <div class="row-buttons">
                <button id='submitCancellation'>I Agree (Cancel my Subscription)</button>
                <button class='btn-cancel'>Cancel</button>
            </div>
        </section>
    {{else}}
        <div>
            <p>Please sign in to view or update your account information.</p>
            {{> login}}
        </div>
    {{/if}}
</main>
{{> footer}}