<main class='container'>
    <section>
        <h2>Forgot Password Page</h2>
        <p>Enter the email address you use for your login.
            We will send you an email with instructions on how to reset your password:
        </p>
        <form>
            <label for='email'>
                <input type='email'name='email' id='email'>
            </label>
            <button id='submitForgotPassword'>Send</button>
        </form>
        {{!-- once email has been sent or not display the applicable message below --}}
        <div id='message'> 
        </div>
    </section>
</main>