<main>
    <h1>Magnolia Bliss Magazine</h1>
    <section>
        {{> login}}
    </section>
    <section id='sampleArticle'>
        <h3>Sample Article</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, expedita id nostrum porro, iste
            deserunt esse asperiores culpa quas fuga, velit sapiente! Ipsam accusantium ipsa impedit quasi alias hic
            odit!
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, expedita id nostrum porro, iste
            deserunt esse asperiores culpa quas fuga, velit sapiente! Ipsam accusantium ipsa impedit quasi alias hic
            odit!
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, expedita id nostrum porro, iste
            deserunt esse asperiores culpa quas fuga, velit sapiente! Ipsam accusantium ipsa impedit quasi alias hic
            odit!...
        </p>
        <p>To read the entire article and many more <a href='/subscribe'>subscribe</a> today!</p>

    </section>
</main>