<h1>Magnolia Bliss Magazine</h1>

<h4>Existing User Login</h4>
<form>
    <input type='email' name='loginEmail' id='email' placeholder='Email'>
    <input type='password' name='loginPassword' id='password' placeholder='Password'>
    {{!-- make a show password feature --}}
    <button id='login'>Login</button>
    <button id='cancelLogin'>Cancel</button>
</form>