<main class='container'>
    
    <section>
        <h2>Reset Password Page</h2>
        <div id='checkCode'>
            <form> 
                <label for='resetCode'>
                    Enter the code you were emailed:
                    <input type='text' name='resetCode' id='resetCode'
                </label>
                <button id='submitCode'>Submit</button>
            </form>
        </div>

        {{!-- visible once response comes back as valid --}}
        <div id='changePassword'>
            <p>Enter Your New Password Below</p>
            <form> 
                <label for='newPassword'>
                    New Password:
                    <input type='text' name='newPassword' id='newPassword'>
                </label>
                <label for='validateNewPassword'>
                    Re-enter Password:
                    <input type='text' name='validateNewPassword' id='validateNewPassword'>
                </label>
                <button id='submitNewPassword'>Submit</button>
            </form>
            <div id='message'></div>
        </div>
    </section>
</main>