<h1>Subscribe to Magnolia Bliss</h1>

{{!-- 

form getting their information

first name
last name 
email address
password
continue button, cancel button

-------then next window appears once that is put in DB and verified (use jquery to hide and show based on buttons pushed)
(use jquery to hide and show based on buttons pushed)


continue button, cancel button

-------once selected then pop up paypal payment buttons
--use the API to make the payment
--update the DB with number of issues purchased, and mark as paid

continue button, cancel button

---once payment is complete show button or link to read magazine and redirect to that view
--}}
<main class='container'>
    <section id='createAcct'>
        <h3>Create Account</h3>
        <form id='customerDetails'>
            <input type="text" name='First Name' id='firstName' placeholder="First Name">
            <input type="text" name='Last Name' id='lastName' placeholder="Last Name">
            <input type="email" name='Email' id='email' placeholder="Email">
            <input type="text" name='Password' id='password' placeholder="Password">
        
            {{!-- on click of this button will send the customer details to the auth route and controller --}}
            <button id='submitCustomer'>Continue</button>
            {{!-- this cancel would reset form only, nothing sent to DB yet --}}
            <button id='cancelCustomer'>Cancel</button>
        </form>
    </section>

    <section id='subscription'>
        {{!-- for credit card --}}
        <form id="payment-form">
        <div class='form-row'>
            <h3>Pick Your Plan</h3>
            <select name='planLevel' id='planLevel' required='true'>
                <option value='' selected>Choose One...</option>
                <option value='plan_EpHZkxOiWmpiQR'>Weekly - $10.00</option>
                <option value='plan_EjZolXa1xLHMFw'>Basic - $29.99</option>
                <option value='plan_EjZrSsfFWBdXpv'>Mid Tier - $39.99</option>
                <option value='plan_EjZrkUO9p4p2uG'>Premium  - $49.99</option>
            </select>
            </div>
            <div class="form-row">
                <label for="card-element">
                    Credit or debit card
                </label>
                <div id="card-element">
                    <!-- A Stripe Element will be inserted here. -->
                </div>

                <!-- Used to display form errors. -->
                <div id="card-errors" role="alert"></div>
            </div>

            <button id='submitPayment'>Submit Payment</button>
           
        </form>
         {{!-- this cancel would clear out the user from the db and reset both forms--}}
        <button id='cancelPayment'>Cancel</button>

        

    </section>

</main>