{{!-- if the user has an account in our db, need to use that info (from sessions) to create a 
new subscription instead of the create Account form. --}}
{{> heroSmall}}
<main class='container'>
    <h2 class='header-content header-centered'>1. Pick a Subscription Plan</h2>
    {{> plans}}
    <section class='sm-section-center' id='subscribeStart'>
        <h1 class='header-content header-centered margin-bottom-small'>2. Create An Account</h1>
        <form class='form'>
            <div class="form__group">
                <label for='determinePrevAcct' class='form__label-select'>Have you had an account with us before?</label>
                <input type='radio' class='prevAcct form__input--radio' id='determinePrevAcct' value='yes'>Yes</input>
                <input type='radio' class='prevAcct form__input--radio' id='determinePrevAcct' value='no'>No</input>
            </div>
        </form>
    </section>

    <section class='sm-section-left' id='checkCustomer'>
        <form id='checkCustomerForm' class='form'>
            <h3 class='header-centered margin-bottom-small'>Enter your Login Information</h3>
            <div class="form__group">
                <input type="email" class='form__input' id='emailCheck' placeholder='Email'>
                <label for='emailCheck' class='form__label'>Email</label>
            </div>
            <div class="from__group">
                <input type="text" class='form__input' id='passwordCheck' placeholder='Password'>
                <label for='passwordCheck' class='form__label'>Password</label>
            </div>
            
            <div class='row-buttons'>
                <button id='submitCheckCustomer'>Continue</button>
                {{!-- this cancel would reset form only, nothing sent to DB yet --}}
                <button class='btn-cancel' id='cancelCheck'>Cancel</button>
            </div>

        </form>

        <div class='message-display' id='activeSubscriptionMsg'>
            <p>It looks like you have an active subscription. <br> 
                <a href='/magazine'>Go to the Magazine</a>
            </p>
        </div>
        <div class='message-display' id='emailNotFoundMsg'>
            <p>We are unable to find the email you provided. <br> 
                Please try again or create a 
                <a id='createAcctLink'href='#'>new Account</a>.
            </p>
        </div>
        <div class='message-display' id='passwordNoMatchMsg'>
            <p>The password you provided doesn't match our records. <br> 
                Please try again or you can 
                <a href='/forgot-password'>reset it</a>.
            </p>
        </div>
    </section>

    <section class='sm-section-left' id='createAcct'>
        <form class='form' id='customerDetails'>
            <h3 class='header-centered margin-bottom-small'>Create a New Account</h3>
            <div class="from__group">
                <input type="text" class='form__input' id='firstName' placeholder='First Name'>
                <label for='firstName' class='form__label'>First Name</label>
            </div>
            <div class="form__group">
                <input type="text" class='form__input' id='lastName' placeholder='Last Name'>
                <label for='lastName' class='form__label'>Last Name</label>
            </div>
            <div class="form__group">
                <input type="email" class='form__input' id='email' placeholder='Email'>
                <label for='email' class='form__label'>Email</label>
            </div>
            <div class="form__group">
                <input type="text" class='form__input' id='password' placeholder='Password'>
                <label for='password' class='form__label'>Password</label>
            </div>
            <div class="form__group">
                <input type='text' class='form__input' id='validatePassword' placeholder='Re-enter Password'>
                <label for='validatePassword' class='form__label'>Re-enter Password</label>
            </div>
            <div class='message-display' id='message'></div>
            <div class='row-buttons'>
                {{!-- on click of this button will send the customer details to the auth route and controller --}}
                <button id='submitCreateCustomer'>Continue</button>
                {{!-- this cancel would reset form only, nothing sent to DB yet --}}
                <button class='btn-cancel' id='cancelCustomer'>Cancel</button>
            </div>
        </form>
    </section>

    <section class='sm-section-right' id='subscription'>
        
        <form class='form' id="payment-form">
            <h3 class='header-centered margin-bottom-small'>Pick Your Plan and Pay</h3>
            <div class='form__group'>
                <select class='form__select' id='planLevel' required>
                    <option value='' selected>Choose One...</option>
                    <option value='plan_EpHZkxOiWmpiQR'>Daffodil - $5.99/mo</option>
                    <option value='plan_EjZolXa1xLHMFw'>Azalea - $34.99/6 mos</option>
                    <option value='plan_EjZrSsfFWBdXpv'>Dogwood - $64.99/yr</option>
                    <option value='plan_EjZrkUO9p4p2uG'>Magnolia - $29.99/mo</option>
                </select>
                <label class='form__label-select' for='planLevel'>Pick your Plan</label>
                <p>Review our <a href="#">Terms and Conditions</a></p>
            </div>
            <div class="form__group">
                <div id="card-element"></div>
                <label class='form__label-stripe' for="card-element">Credit or Debit Card</label>
                <div id="card-errors" role="alert"></div>
            </div>
            <div class='row-buttons'>
                <button id='submitPayment'>Submit Payment</button>
                {{!-- this cancel would clear out the user from the db and reload page--}}
                <button class='btn-cancel' id='cancelPayment'>Cancel</button>
            </div>
        </form>
        <div class='message-display' id='subErrorMessage'></div>
    </section>

</main>

{{> footer}}