<main class='container'>
    <section>
        <h1>Current Issue</h1>
        {{#if session.loggedIn}}
        <div id='magContainer'></div>
        {{else}}
        <div>
            <p>Please sign in to view the magazine. If you don't have a subscription you can see our plans and subscribe
                <a href="/subscribe">here</a>.</p>
            {{> login}}
        </div>
        {{/if}}
    </section>
</main>