<main>
    <section>
        <h1>Current Issue</h1>
        {{#if session.loggedIn}}
            <div id='magContainer'></div>
        {{else}}
            <div>
                <p>You need to have a <a href="/subscribe">Subscription</a> or be signed in to view the magazine.</p>
                {{> login}}
            </div>
        {{/if}}
    </section>
</main>