// use extends when an entire block of code is the same used in diff elements
// mixins are used when chunks of code is the same, but not all, in the element

@mixin button-shared($col) {
    background-color: $col;
    border: none;
    border-radius: 10rem;
    color: white;
    font-size: 1.4rem;
    margin: .5rem;
    padding: .8rem 2rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0,0,0,.4);
}

@mixin hero-shared($vh, $bottom-margin) {
    background-image: linear-gradient(
        to right bottom, 
        rgba(202, 33, 73, 0.6), 
        rgba(255, 92, 130, 0.6),
        rgba(252, 166, 186, 0.6)),
    url('/images/magnolia-bgi.jpeg');
    background-size: cover;
    background-position: center;
    height: $vh;
    margin-bottom: $bottom-margin;
    position: relative; 
}

@mixin form-label($top-margin) {
    display: block;
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-top: $top-margin;
}

//used in the cards for the opaque background images
//use with a ::after puesdo class
@mixin card-bgi($url) {
    content: '';
    background-image: url($url);
    background-position: center;
    background-size: cover;
    background-blend-mode: screen;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
}

//1 em = 16px, take screen size and divide by 16 to get em units

//media queries
@mixin respond($breakpoint) {
    @if $breakpoint == sm-phone {
        @media only screen and (max-width:26em) { @content }; //400px
    }

    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content }; //600px
    }

    //used for hero so to better align logo inbetween screen sizes
    @if $breakpoint == lg-phone {
        @media only screen and (max-width: 43.75em) { @content }; // 700px
    }

    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content }; // 900px
    }

    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content }; //1200px
    }

    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content }; //1800px
    }
}