body {
    background-color: grey;
    color: white;
   
}

nav {
    background-color: black;
}

ul li {
    list-style: none;
}

img {
    width: 400px;
    height: auto;
    margin: 0 10px 10px 0;
    float: left;
}

#magContainer {
    position: relative;
    width: 800px;
    height: 600px;
    margin-left: 25%;
    margin-bottom: 10%;
}

/* Stripe Elements */
.StripeElement {
    box-sizing: border-box;
    width: 400px;
    height: 40px;

    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}
  
.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}
  
.StripeElement--webkit-autofill {
background-color: #fefde5 !important;
}